<article class="teacher-item">
    <header>
        <img src="https://avatars2.githubusercontent.com/u/32105582?s=460&u=297ce136f452a16f6c2903d527469b6add646627&v=4" alt="caio v lima" />
        <div>
            <strong>Caio V. Lima</strong>
            <span>Química</span>
        </div>
    </header>
    <p>
        Entusiasta das melhores tecnologias de química avançada.
        <br/> <br/>
        Apaixonado por explodir coisas
    </p>

    <footer>
        <p>
            Preço/Hora
            <strong>R$ 80,00</strong>
        </p>
        <button type="button">
            <img src="../../../assets/images/icons/whatsapp.svg" alt="Contato"/>
            Entrar em Contato
        </button>
    </footer>
</article>